<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test App</title>
    </head>
    <body>
        <div id="app">
            <button type="button" id="test" @click="fetchAPIData">Test</button>
			<div>
				<hr>
				<ul>
					<li>host: {{host}}</li>
					<li>data: {{data}}</li>
				</ul>
				<hr>
			</div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</html>
